body {
    background-color: rgb(13, 13, 18);
    margin: 1rem 15rem 0 15rem;
    display: grid;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: minmax(0, auto);
}

header {
    display: grid;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    align-items: center;
}

.header.left {
    background-color: rgb(0, 215, 53);
    border-radius: 50%;
    width: 1.5rem;
    padding: 0.6rem;
    color: white;
    transition: transform 0.2s ease-in;
}

.header.left:hover {
    transform: rotate(180deg) scale(1.1);
    box-shadow: 0 0 15px rgb(0, 215, 53, 0.5), 0 0 15px rgb(0, 215, 53, 0.5);
}

.header.middle {
    grid-column: 2;
    color: rgb(0, 215, 53);
    font-weight: bold;
    justify-self: center;
    font: caption
}

.header.right {
    grid-column: 3;
    color: rgb(0, 215, 53);
    font-weight: bold;
    justify-self: end;
    padding: 0.2rem 0.8rem;
    border: 1px solid rgb(0, 215, 53);
    border-radius: 15px;
    font-size: 0.8rem;
    font: small-caption;
}

.span_bullet {
    font-size: 1rem;
    animation: flickering 0.8s infinite ease;
}

.header.right:hover {
    background-color: rgb(0, 215, 53, 0.2);
}

@keyframes flickering {
    0% {
        color: rgb(0, 215, 53, 0.2);
    }

    50% {
        color: rgb(0, 215, 53);
    }
}

.main1 {
    overflow: hidden;
    height: 100%;
    /* background: radial-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 1)),
        linear-gradient(90deg, dimgrey 1px, transparent 1px),
        linear-gradient(dimgrey 1px, grey 1px); */
    background-color: rgb(20, 15, 30);
    background-size: 100%, 2px 1px, 1px 2px;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 264px;
    margin: 15px 0;
    padding: 0.5rem 1rem;
    border: 0.5px solid rgb(100, 97, 109);
    border-radius: 15px;
}


.main1:hover {
    border-color: rgb(0, 215, 53, 0.7);
}



.radar {
    position: relative;
    grid-row: 1/3;
    grid-column: 1/2;
    overflow: hidden;

    align-self: center;
    /* margin: 1rem; */
    width: 248px;
    height: 248px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
        inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    background:
        repeating-radial-gradient(transparent 0 23px, #287a33 24px 26px, #0000 27px),
        linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(#333, #111);
    background-size: 100%, 218px 218px, 218px 218px, 100%;
}

.sweep {
    /* margin: 1rem; */
    position: relative;
    box-sizing: border-box;
    top: 16px;
    left: 16px;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 108px;
    height: 108px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
    animation: sweep 5s infinite linear;
}

@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}

.mainH1 {
    padding: 10px 0;
    font-size: 2.5rem;
    color: rgb(0, 215, 53);
}

.mainH2 {
    color: rgb(100, 97, 109);
}

.main_radar_t1 {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
}

.main_radar_t2 {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
}

.main2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 30rem;
}

.main2button {
    width: 7rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0.6rem;
    border-radius: 20px;
    background-color: rgb(20, 15, 30);
    border: 0.5px solid rgb(100, 97, 109);
    transition: transform 0.3s ease;
}

.main2button:hover {
    border: 1px solid rgb(0, 215, 53);
    background-color: rgb(0, 215, 53, 0.2);
    transform: translatey(-0.3rem);

}

.main2img {
    width: 1rem;
    color: rgb(182, 175, 189);

}

.main2text {
    width: 5rem;
    color: rgb(182, 175, 189);
    font: small-caption;
}

.main3 {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.main3button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0.6rem;
    border-radius: 20px;
    background-color: rgb(20, 15, 30);
    border: 0.5px solid rgb(100, 97, 109);

    transition: transform 0.2s ease-in;
}

.main3button p {
    color: rgb(182, 175, 189);
    font: small-caption;

}

.progress {
    /* background-color: rgb(0, 215, 53); */
    /* border: 1px solid rgb(0, 215, 53); */
    grid-area:    3/1/3/3;
    padding: 0.2rem;
    border-radius: 20px;
    /* color: rgb(0, 215, 53); */
}

.main3button:hover {
    transform: translatey(-0.5rem) skewY(2deg);
}

.main4 {
    display: grid;
    grid-template-columns: 0.1fr 25fr;
    grid-template-rows: 1fr;
    padding: 0.5rem;
    color: white;
    border: 0.5px solid rgb(103, 41, 61);
    border-radius: 15px;
    background-color: rgb(36, 15, 25);
    margin: 1rem 0;
    align-items: start;

}

.main4.p4 {
        grid-area:    2/1/3/3;

}

.main4 p {
    color: rgb(185, 44, 80);
    grid-row: 1/3;
    place-self: center;
    align-self: center;
    font: caption;

}

.main4 span {
    grid-row: 1/3;
    color: rgb(185, 44, 80);
    justify-self: start;
    align-self: start;
    font-size: 2rem;
}

.main4:hover {
    background-color: rgb(65, 23, 43);
    transform: scale(1.02);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(0, auto);
    padding: 0 5rem;
}

.footer_button {
    width: 5rem;
    place-items: center;
    gap: 0.5rem;
    transition: transform 0.3s ease;
    display: grid;
    grid-row: 1fr 1fr;
}

.footer_img {
    width: 2rem;
}

.footer_text {
    color: white;
    font: small-caption;

}

.button1 {
    justify-self: start;
}

.button2 {
    justify-self: center;
}

.button3 {
    justify-self: end;
}

.footer_button:hover {
    .footer_text {
        color: rgb(0, 215, 53);
    }

    .footer_img {
        color: rgb(0, 215, 53);
    }

    transform: translatey(-0.3rem);
}

.footer_button:active {
    border-bottom: 1px solid rgb(0, 215, 53);
}